# 0.0 Imports

In [2]:
import pandas as pd
import regex as re

# 1.0 Data load

In [3]:
df_amazon_prime_titles = pd.read_csv('data/amazon_prime_titles.csv', low_memory=False)
df_netflix_titles = pd.read_csv('data/netflix_titles.csv', low_memory=False)

# 2.0 - Data Transformation

In [5]:
df = pd.concat( [df_amazon_prime_titles, df_netflix_titles] )

In [6]:
df.isna().sum()

show_id            0
type               0
title              0
director        4716
cast            2058
country         9827
date_added      9523
release_year       0
rating           341
duration           3
listed_in          0
description        0
dtype: int64

In [9]:
cast_list = []
df['cast'].fillna('not_cast', inplace=True)
df['date_added'].fillna('not_date', inplace=True)
df_netflix_titles.fillna(value = 'date_added',  inplace = True)

In [10]:
for i in range ( len(df.index) ):
        #print (df.iloc[i]['cast'])
        cast_list = cast_list + df.iloc[i]['cast'].split(',')

In [13]:
df_cast = pd.DataFrame(cast_list)

In [14]:
df_cast.columns = ['actor']

In [15]:
#1- Top 10 atores/atrizes considerando todos os dados;
top_actor = df_cast.groupby(['actor']).size().sort_values(ascending= False)
# 10 atores reais + 1 filmes sem ator + 1 inválido(1)
top_actor.head(12)
#top_atores = df.group([''])

actor
not_cast             2058
Maggie Binkley         56
 Anupam Kher           55
 Nassar                43
Shah Rukh Khan         35
1                      35
 Paresh Rawal          35
 Prakash Raj           32
 Om Puri               32
Gene Autry             32
 Takahiro Sakurai      31
 Rupa Bhimani          31
dtype: int64

In [16]:
# 2- Top 5 países produtores de conteúdos considerando todos os dados e comparando como duas plataformas;

top_country_total = df.groupby(['country']).size().sort_values(ascending= False).head(5)
top_country_amazon = df_amazon_prime_titles.groupby(['country']).size().sort_values(ascending= False).head(5)
top_country_netflix = df_netflix_titles.groupby(['country']).size().sort_values(ascending= False).head(5)

top_country_total

country
United States     3071
India             1201
United Kingdom     447
Japan              247
South Korea        199
dtype: int64

In [17]:
top_country_amazon

country
United States                    253
India                            229
United Kingdom                    28
Canada                            16
United Kingdom, United States     12
dtype: int64

In [18]:
top_country_netflix

country
United States     2818
India              972
date_added         831
United Kingdom     419
Japan              245
dtype: int64

In [46]:
# 3- Mês no qual há mais adições de filmes na plataforma Netflix;

top_month = df_netflix_titles.groupby(['date_added']).size().sort_values(ascending= False)
top_month
month_list = []
#regex = '[a-zA-Z]+'

#top_month_netflix = df_netflix_titles.groupby(['date_added']).size().sort_values(ascending= False)
for i in range ( len(df_netflix_titles.index) ):
#for i in range (  3 ):
    month_list = month_list +  df_netflix_titles.iloc[i]['date_added'].split(' ')

In [53]:
df_month = pd.DataFrame(month_list)
df_month.columns = ['month']
df_month.groupby(['month']).size().sort_values(ascending= False).head(10)
# Julho = 827

month
1,           2212
2019         2016
2020         1879
2018         1649
2021         1498
2017         1188
July          827
December      813
September     770
April         764
dtype: int64

In [380]:
# 4- Quantidade de filmes como comédia.

comedy = df.loc[df['listed_in'].str.contains("Comedy", case = False)]
comedy2 = df.loc[df['listed_in'] == 'Comedy']

In [381]:
#posssuem comedia
len(comedy.index)

2498

In [382]:
#somente comedia
len(comedy2.index)

536

In [54]:
# 5- Lista de todos os gêneros de filmes.

df_listed_in = df.groupby(['listed_in']).size().sort_values(ascending= False)
df_listed_in

listed_in
Drama                                                              986
Comedy                                                             536
Drama, Suspense                                                    399
Comedy, Drama                                                      377
Dramas, International Movies                                       362
                                                                  ...
Arthouse, Horror                                                     1
Drama, Special Interest, Sports                                      1
Arthouse, Horror, International                                      1
Arthouse, Horror, Romance                                            1
Anime Series, International TV Shows, Spanish-Language TV Shows      1
Length: 1031, dtype: int64

In [414]:
# 6- A frequência de "TV Show" de todos os dados e comparativamente em relação as duas plataformas
tv_show_total = df.loc[df['type'] == "TV Show" ]
tv_show_total
#frequencia total
frequencia_tv_show_total = len(tv_show_total) / len(df)
frequencia_tv_show_total

0.24519621109607578

In [416]:
tv_show_netflix = df_netflix_titles.loc[df_netflix_titles['type'] == "TV Show" ]
frequencia_tv_show_total_netflix = len(tv_show_netflix) / len(df_netflix_titles)
#frequencia netflix
frequencia_tv_show_total_netflix

0.3038492108550017

In [419]:
tv_show_amazon = df_amazon_prime_titles.loc[df_amazon_prime_titles['type'] == "TV Show" ]
frequencia_tv_show_total_amazon = len(tv_show_amazon) / len(df_amazon_prime_titles)
#frequencia amazon
frequencia_tv_show_total_amazon

0.19176665287546546

In [420]:
# 7- A frequência de "Filmes" de todos os dados e comparativamente em relação as duas plataformas
movie_total = df.loc[df['type'] == "Movie" ]
#fequencia total
frequencia_movie_total = len(movie_total) / len(df)
frequencia_movie_total

0.7548037889039242

In [421]:
movie_netflix = df_netflix_titles.loc[df_netflix_titles['type'] == "Movie" ]
#frequencia netflix
frequencia_movie_netflix = len(movie_netflix) / len(df_netflix_titles)
frequencia_movie_netflix

0.6961507891449983

In [422]:
movie_amazon = df_amazon_prime_titles.loc[df_amazon_prime_titles['type'] == "Movie" ]
#frequencia amazon
frequencia_movie_amazon = len(movie_amazon) / len(df_amazon_prime_titles)
frequencia_movie_amazon

0.8082333471245345